<h1>Notification</h1>

<mat-tab-group>

  <mat-tab label="Cron Trigger">
    <div class="example-container">

      <mat-form-field>
        <input matInput [(ngModel)]="jobName" placeholder="Job Name">
      </mat-form-field>

      <mat-form-field>
        <input matInput [(ngModel)]="jobGroup" placeholder="Job Group">
      </mat-form-field>

      <mat-form-field>
        <input matInput [(ngModel)]="triggerName" placeholder="Trigger Name">
      </mat-form-field>

      <mat-form-field>
        <input matInput [(ngModel)]="triggerGroup" placeholder="Trigger Group">
      </mat-form-field>

      <mat-form-field>
        <input matInput [(ngModel)]="cronExpression" placeholder="Cron Expression">
      </mat-form-field>

      <div class="sign-button">
      <button mat-raised-button (click)="createCronJob()" color="primary" >Create Notification Job</button>
      </div>

    </div>


    <mat-divider></mat-divider>

    <div class="example-container">

      <mat-form-field>
        <input matInput [(ngModel)]="jobName" placeholder="Job Name">
      </mat-form-field>

      <mat-form-field>
        <input matInput [(ngModel)]="jobGroup" placeholder="Job Group">
      </mat-form-field>

      <div class="sign-button">
      <button mat-raised-button (click)="pauseJob()" color="primary" >Pause Notification Job</button>
      </div>

    </div>

    <mat-divider></mat-divider>

    <div class="example-container">

      <mat-form-field>
        <input matInput [(ngModel)]="jobName" placeholder="Job Name">
      </mat-form-field>

      <mat-form-field>
        <input matInput [(ngModel)]="jobGroup" placeholder="Job Group">
      </mat-form-field>

      <div class="sign-button">
      <button mat-raised-button (click)="resumeJob()" color="primary" >Resume Notification Job</button>
      </div>

    </div>

    <mat-divider></mat-divider>

    <div class="example-container">

      <mat-form-field>
        <input matInput [(ngModel)]="jobName" placeholder="Job Name">
      </mat-form-field>

      <mat-form-field>
        <input matInput [(ngModel)]="jobGroup" placeholder="Job Group">
      </mat-form-field>

      <div class="sign-button">
      <button mat-raised-button (click)="interruptJob()" color="primary" >Interrupt Notification Job</button>
      </div>

    </div>



  </mat-tab>

  <mat-tab label="Simple Trigger">
    <div class="example-container">

      <mat-form-field>
        <input matInput [(ngModel)]="jobName" placeholder="Job Name">
      </mat-form-field>

      <mat-form-field>
        <input matInput [(ngModel)]="jobGroup" placeholder="Job Group">
      </mat-form-field>

      <mat-form-field>
        <input matInput [(ngModel)]="triggerName" placeholder="Trigger Name">
      </mat-form-field>

      <mat-form-field>
        <input matInput [(ngModel)]="triggerGroup" placeholder="Trigger Group">
      </mat-form-field>

      <mat-form-field>
        <input matInput [(ngModel)]="interval" placeholder="Interval">
      </mat-form-field>

      <div class="sign-button">
        <button mat-raised-button (click)="createSimpleJob()" color="primary" >Create Notification Job</button>
      </div>

    </div>


    <mat-divider></mat-divider>

    <div class="example-container">

      <mat-form-field>
        <input matInput [(ngModel)]="jobName" placeholder="Job Name">
      </mat-form-field>

      <mat-form-field>
        <input matInput [(ngModel)]="jobGroup" placeholder="Job Group">
      </mat-form-field>

      <div class="sign-button">
      <button mat-raised-button (click)="pauseJob()" color="primary" >Pause Notification Job</button>
      </div>

    </div>

    <mat-divider></mat-divider>

    <div class="example-container">

      <mat-form-field>
        <input matInput [(ngModel)]="jobName" placeholder="Job Name">
      </mat-form-field>

      <mat-form-field>
        <input matInput [(ngModel)]="jobGroup" placeholder="Job Group">
      </mat-form-field>

      <div class="sign-button">
      <button mat-raised-button (click)="resumeJob()" color="primary" >Resume Notification Job</button>
      </div>

    </div>

    <mat-divider></mat-divider>

    <div class="example-container">

      <mat-form-field>
        <input matInput [(ngModel)]="jobName" placeholder="Job Name">
      </mat-form-field>

      <mat-form-field>
        <input matInput [(ngModel)]="jobGroup" placeholder="Job Group">
      </mat-form-field>

      <div class="sign-button">
      <button mat-raised-button (click)="interruptJob()" color="primary" >Interrupt Notification Job</button>
      </div>

    </div>




  </mat-tab>

</mat-tab-group>
